.background {
    background: url(../images/background.jpg)  50%  no-repeat fixed;
    align-content: center;
    background-size: cover;
}

body {
	height: 100%;
	background-image: url('../images/background-main.jpg');
}

.canvas-container-size {
    margin: 2% 25% 2% 25%;
    height: 560px;
    width: 50%;
}

.score-container-size{
    margin: auto;
    height: 40px;
    width: 50%;
    background: beige;
}

.score-title-fonts {
    color: lightgray;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-weight: bold;
    font-size: 1.25rem;
}

.footer-title-fonts {
    color: white;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 1.25rem;
}

.score-value-fonts {
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 24px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 10px;
    color: red;
}

.title-font {
    color: lightgray;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-weight: bold;
    font-size: 1.50rem;
}