.background {
    background: url(../images/background.jpg)  50%  no-repeat fixed;
    align-content: center;
    background-size: cover;
}

.canvas-container-size {
    margin: 2% 25% 2% 25%;
    height: 560px;
    width: 50%;
}

.score-container-size{
    margin: auto;
    height: 40px;
    width: 50%;
    background: beige;
}

.score-title-fonts {
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 24px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 10px;
}

.score-value-fonts {
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 24px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 10px;
    color: red;
}